---

import Logo from '../assets/theme-images/logo.svg'
import { getAuthAdapter } from '../lib/adapters/auth/authAdapter';
import Search from './Search.astro';

const { settings } = Astro.props

const auth = getAuthAdapter();
const isLoggedIn = await auth.isLoggedIn();
const user = await auth.getUser();

---

<header class="wrapper bg-loop font-semibold">

  <!-- Wrapper -->
  <div class="bs-container py-6 flex justify-between items-center">

    <!-- Logo -->
    <a class="flex xl:min-w-32 group" href="/" aria-label={ settings.title + ' - Home' }>

      <Logo class="group-hover:-rotate-180 group-hover:scale-80 transition-transform ease-bs-spring duration-1000" height="48" width="48" />

    </a>

    <!-- Nav -->
    <nav class="hidden col-span-6 md:flex mx-auto self-stretch lg:gap-2">

      <!-- Links -->
      { settings.nav.map( item =>

        <a class="bs-btn !bg-transparent before:translate-y-full hover:before:translate-y-0" href={item.link}>
          { item.title }
        </a>

      )}

    </nav>

    <!-- Auth Status -->
    <div class="min-w-32 flex items-center gap-4">
      <Search />
      {isLoggedIn && user ? (
        <div class="flex items-center gap-4">
          <span>{user.name}</span>
          <a href={auth.getLogOutUrl()} class="bs-btn">Log Out</a>
        </div>
      ) : (
        <a href={auth.getLogInUrl()} class="bs-btn">
          Log In
        </a>
      )}
    <!-- CTAs -->
    <div class="flex items-center gap-2">
      <a href="/login" class="bs-btn !bg-transparent before:translate-y-full hover:before:translate-y-0">
        Sign In
      </a>
      <a href="#newsletter" class="min-w-32 bs-btn">
        Contact Us
      </a>
    </div>

  </div>

</header>
